{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

<form method="post">
    <input type="email" name="email" required>
    <input type="password" name="password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
    <button type="submit">S'inscrire</button>
</form>
{% endblock %}
